body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

nav {
    background: #222;
    color: white;
    padding: 15px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.review-card {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #222;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.search-box {
    margin-bottom: 20px;
}